todo-service/pkg/.DS_Store
todo-service/.DS_Store
.DS_Store
todo-service/internal/proto/todo/proto/todo.pb.go
todo-client/internal/proto/todo/proto/todo.pb.go
todo-client/todo-client
todo-service/todo-service

